<%- layout('/layouts/boilerplate') %>

<div class="card my-5 p-5">
    <div class="row d-flex justify-content-between row align-items-center">
        <div class="col-md-6">
            <div class="card-body">
                <h3 class="fw-bold">כניסה</h3>
                <form action="/admin/login" method="POST" class="mt-4 validated-form" novalidate style="direction: rtl;">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" placeholder="שם משתמש" required>
                        <label for="username">שם משתמש</label>
                        <div class="invalid-feedback">
                            שם משתמש לא יכול להשאר ריק
                        </div>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="סיסמא" required>
                        <label for="password">סיסמא</label>
                        <div class="invalid-feedback">
                            סיסמא לא יכולה להשאר ריקה
                        </div>
                    </div>
                <div class="row px-3">
                    <button class="btn successBT mt-3">הכנס</button>
                </div>
                </form>
                
                
                
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/logo/login.jpg" class="w-100 rounded border border-dark-subtle">
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form');

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
        }, false);
    });
});
</script>
